<div class="p-author h-card">
  <img class="u-photo" src="{{ site.url }}/assets/images/simonesilvestroni-avatar-uphoto.png" alt="{{ site.title }}" width="48" height="48">
  <a class="p-name" href="{{ site.url }}" rel="author">{{ site.author.name }}</a>
  <p class="p-note">{{ site.description }}</p>
  <p class="u-email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
  <p><span class="p-locality">Milan</span>, <span class="p-country-name">Italy</span></p>
</div>
<hr>
<p>Permalink: <a class="u-url" href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a></p>
<hr>
<p>Elsewhere:</p>
<ul>
  <li><a rel="me" href="https://github.com/simonesilvestroni/">Github</a></li>
  <li><a rel="me" href="https://www.linkedin.com/in/simonesilvestroni/">LinkedIn</a></li>
  <li><a rel="me" href="https://minutestomidnight.bandcamp.com/">Bandcamp</a></li>
  <li><a rel="me" href="https://soundcloud.com/simonesilvestroni">Soundcloud</a></li>
  <li><a rel="me" href="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw">Spotify</a></li>
  <li><a rel="me" href="https://www.youtube.com/@m2m">YouTube</a></li>
  <li><a rel="me" href="https://indieweb.social/@m2m">Mastodon</a></li>
  <li><a rel="me" href="https://oreganodangereux.wordpress.com">WordPress (Italian)</a></li>
</ul>