<div class="p-author h-card">
  <img class="u-photo" src="{{ site.url }}/assets/images/simonesilvestroni-avatar-uphoto.png" alt="Simone Silvestroni's avatar" width="48" height="48">
  <a class="p-name" href="{{ site.url }}" rel="author">Simone Silvestroni</a>
  <p class="p-note">{{ site.description }}</p>
  <p class="u-email"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
  <hr>
  <p><a rel="me" class="u-url u-uid" href="{{ site.url }}{{ page.url }}" title="Permalink">Permalink: <em>{{ page.title }}</em></a></p>
  <hr>
  {% unless page.is_post %}
  {%- if page.syndication == true %}
    {% for s in page.syndicate -%}
    <span><a rel="syndication" class="u-syndication" href="{{ s.url }}">{{ s.name }}</a></span>
    {% endfor -%}
  {% endif -%}
  {% endunless %}
  <p>Elsewhere:</p>
  <ul>
    <li><a rel="me" href="https://github.com/simonesilvestroni/">Github</a></li>
    <li><a rel="me" href="https://www.linkedin.com/in/simonesilvestroni/">LinkedIn</a></li>
    <li><a rel="me" href="https://minutestomidnight.bandcamp.com/">Bandcamp</a></li>
    <li><a rel="me" href="https://soundcloud.com/simonesilvestroni">Soundcloud</a></li>
    <li><a rel="me" href="https://open.spotify.com/artist/250igOmtd9HCpGyXDWUcl9?si=d9t8bLC2QfG8iT1R3y9CAw">Spotify</a></li>
    <li><a rel="me" href="https://www.youtube.com/@m2m">YouTube</a></li>
    <li><a rel="me" href="https://indieweb.social/@m2m">Mastodon</a></li>
    <li><a rel="me" href="https://oreganodangereux.wordpress.com">WordPress (Italian)</a></li>
  </ul>
</div>