<article class="h-entry m2m-entry my-5 py-3">
  <h2 class="fs-3 p-name my-3">{{ project.title }}</h2>
  <div class="e-content">
    <p class="p-summary text-start mt-2">
      {%- if project.type == "web design" -%}
        {{ project.description | strip_html }}
      {%- else -%}
        {{ project.excerpt | strip_html }}
      {%- endif -%}
    </p>
    <a class="btn-cta-m2m-bg d-inline-block rounded text-decoration-none my-2 px-2 py-1" href="{{ project.url }}" title="Read the case study">Read the case study →</a>
  </div>
</article>
<hr class="visually-hidden">