:root {
  --color-body: #2A3137;
  --color-text: #E7E7E7;
  --color-secondary: #678499;
  --color-link: #FFE300;
  --accent-bg: #3F3F3F;
  --light-bg: #656565;
  --border: #999999;
  --standard-border-radius: 6px;
  --sans-font: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --mono-font: ui-monospace,monospace;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid-template-columns: 1fr min(45rem, 90%) 1fr;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  background-color: var(--color-body);
}
body > * {
  grid-column: 2;
}
@media (min-width: 1024px) {
  body {
    font-size:  1.35rem;
  }
}
main {
  max-width: 720px;
}
header {
  max-width: 767px;
  margin: 0 auto;
}
header > h1 {
  text-align: center;
}
nav {
  text-align: center;
  margin-bottom: 1.5rem;
}
nav > a {
  text-transform: lowercase;
  font-variant: small-caps;
  padding: 0 0.5rem;
}

/* ----------------------------------------
 * $HEADINGS
 * ---------------------------------------- */

h1, h2, h3 {
  font-family: 'Georgia', serif;
  font-weight: 300;
}
h1 { font-size: 2.2rem; }
h2 { font-size: 1.6rem; margin-top: 3rem; }
h3 { font-size: 1.45rem; margin-top: 2.5rem; }
h4 { font-size: 1.2rem; margin-top: 2rem; margin-bottom: 0; }
/* Prevent long strings from overflowing container */
p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}
/* Fix line height when title wraps */
h1,
h2,
h3,
h4 {
  line-height: 1.1;
}
/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  h1 { font-size: 1.9rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.35rem; }
  h4 { font-size: 1.1rem; }
}
p {
  line-height: 1.3;
}
main a {
  color: var(--color-link);
}
header a {
  color: #fff;
}
a:hover {
  opacity: 0.85;
}
img,
video {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 2rem auto;
  display: block;
  text-align: center;
  overflow-x: auto;
}
figcaption {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
abbr[title] {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}
kbd {
  font-family: var(--mono-font);
  font-size: 1rem;
  border: 1px solid var(--border);
  border-bottom: 3px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.4rem;
}
body > footer {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
  border-top: 3px solid var(--color-secondary);
  padding-top: 1rem;
}
blockquote {
  margin: 0 0 2rem 0;
  padding: 0 0.8rem;
  border-left: 0.15rem solid var(--border);
}
cite {
  display: block;
  margin-top: 0.5rem;
}
code,
pre,
kbd,
samp {
  font-family: var(--mono-font);
  font-size: 1.1rem;
}
pre {
  max-width: 100%;
  overflow: auto;
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1rem;
}
/* Fix embedded code within pre */
pre code,
pre span {
  font-size: 0.9rem;
  background: none;
  margin: 0;
  padding: 0;
}
table {
  min-width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
}
td,
th {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  text-align: left;
  padding: 0.5rem;
}
th {
  background-color: var(--accent-bg);
  font-weight: bold;
}
tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background-color: var(--accent-bg);
}
table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.button,
.button:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: lowercase;
  font-variant: small-caps;
  border: none;
  border-radius: 5px;
  background: var(--light-bg);
  font-size: 1rem;
  color: var(--color-link);
  padding: 0.6rem 0.8rem 0.5rem 0.8rem;
  margin: 0.5rem 0;
}
.button:hover,
.button:focus {
  filter: brightness(1.4);
  cursor: pointer;
}
.list-hr li {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}
.resume-experience h4 {
  text-transform: uppercase;
}
/* Classes */
.current {
  font-weight: 700;
}
.small {
  font-size: smaller;
}
.big {
  font-size: larger;
}
.logo {
  margin: 2rem auto 3rem auto;
}
.notice {
  background: transparent;
  border: 0.15rem solid var(--border);
  box-shadow: 0 0 0 0.2rem var(--light-bg);
  box-shadow: 0 0 0 0.25rem var(--accent-bg);
  border-radius: 5px;
  padding: 1.5rem;
  margin: 2em 0;
}
.notice h2:first-of-type, 
.notice h3:first-of-type,
.notice h4:first-of-type {
  margin-top: 0;
}
.notice p:last-of-type, .notice ul:last-of-type {
  margin-bottom: 0;
}
.outer-circle {
  position: relative;
  height: 200px;
  width: 200px;
  background: linear-gradient(#4CAAA4, #C5B531, #8E8CC7);
/*  border-radius: 50%;*/
}
.outer-circle span {
  position: absolute;
  height: 200px;
  width: 200px;
  background: linear-gradient(#4CAAA4, #C5B531, #8E8CC7);
/*  border-radius: 50%;*/
}
.outer-circle span:nth-child(1) { filter: blur(5px); }
.outer-circle span:nth-child(2) { filter: blur(10px); }
.outer-circle span:nth-child(3) { filter: blur(25px); }
.outer-circle span:nth-child(4) { filter: blur(150px); }
.inner-circle {
  height: 180px;
  width: 180px;
  position: absolute;
  background: black;
  top: 10px;
  left: 10px;
/*  border-radius: 50%;*/
  z-index: 9;
}
.footnote {
  text-decoration: none;
}
.footnotes {
  font-size: smaller;
}